BOT_TOKEN=123456789:ABCD-EFGHIJKLMNOPQRSTUV     # the token you get from @BotFather on Telegram
CHAT_ID=123456789                               # the chat ID of the chat you will use the bot. You can get the IP of a group buy using @myidbot on Telegram